:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

#rootroot {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-height: 300px;
}

a, form, #title, #singlePlayerContainer {
  border: 3px solid white;
  box-sizing: border-box;
}

#rootroot > div, a {
  min-height: 388px;
}

button {
  background-color:black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  min-height: 50px;
}

#rootroot {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

#rootroot > div {
  display: flex;
  flex-direction:column;
  gap:5px;
  height: 387.81px
}

form {
  height:100%;
}

form {
  display: flex;
  flex-direction: column;
  gap:5px;
  padding: 10px;
}

label {
  float: left;
  margin-right: 5px;
}

input {
  float: right;
}

#title {
  text-align: center;
  font-size: 3em;
  display: inline-block;
  padding: 20px;
}

#titleContainer {
  display:flex;
  justify-content: center;
}

#singlePlayerContainer > a {
  min-height: 0;
}

a > button {
  margin-bottom: 5px;
}

button {
  height: auto;
  padding: 3px;
}

#singlePlayerContainer {
  height: auto !important;
  padding: 20px;
}